<h2>Make your move, snowflake.</h2>
<p>Here are some other actions <br>that you can take right now:</p>

<h3>Your Top 3</h3>
<ul class="action-category">
  <li>TBD!</li>
</ul>

<hr>

<h3>Organizations to Follow</h3>
{{#each organisation}}
  <li><a href="{{url}}" target="blank">{{name}}</a></li>
{{/each}}

<hr>

<h3>Events to Attend</h3>
{{#each event}}
  <li><a href="{{url}}" target="blank">{{name}}</a></li>
{{/each}}

<hr>

<h3>Donate to a Charity</h3>
{{#each donate}}
  <li><a href="{{url}}" target="blank">{{name}}</a></li>
{{/each}}

<hr>

<h3>Support a Petition</h3>
{{#each petition}}
  <li><a href="{{url}}" target="blank">{{name}}</a></li>
{{/each}}

<hr>

<h3>Follow Prominent Activists</h3>
{{#each social}}
  <li><a href="{{url}}" target="blank">{{name}}</a></li>
{{/each}}

<hr>
<div class='circle-background-explore'></div>
<p class='button-explore'>Email me my options</p>
<a href="/" class='button-explore'>Return to homepage</a>
