<h2>Make your move, snowflake.</h2>
<p>Here are some other actions <br>that you can take right now:</p>

<h3>Your Top 3</h3>
<ul class="action-category">
  <li>TBD!</li>
</ul>

<hr>

<h3>Organizations to Follow</h3>
<div class="explore-carousel">
      <button class="prev">
        ◀ <span class="offscreen">Previous</span>
      </button>
  <ul class="carousel-content">
      {{#each organisations}}
        <li><a href="{{url}}" target="_blank">{{name}}</a></li>
      {{/each}}
  </ul>
  <button class="next">
    ▶ <span class="offscreen">Next</span>
  </button>
</div>

<hr>

<h3>Events to Attend</h3>
<ul class="action-category">
    {{#each events}}
      <li><a href="{{url}}" target="_blank">{{name}}</a></li>
    {{/each}}
</ul>

<hr>

<h3>Contribute to a Charity</h3>
<ul class="action-category">
    {{#each donate}}
      <li><a href="{{url}}" target="_blank">{{name}}</a></li>
    {{/each}}
</ul>

<hr>

<h3>Support a Petition</h3>
<ul class="action-category">
    {{#each petitions}}
      <li><a href="{{url}}" target="_blank">{{name}}</a></li>
    {{/each}}
</ul>


<hr>

<h3>Follow Prominent Activists</h3>
<ul class="action-category">
    {{#each socials}}
      <li><a href="{{url}}" target="_blank">{{name}}</a></li>
    {{/each}}
</ul>


<hr>
<div class='circle-background-explore'></div>
<p class='button-explore'>Email me my options</p>
<a href="/" class='button-explore'>Return to homepage</a>
