<h2>Make your move, snowflake.</h2>
<p>Here are some other actions <br>that you can take right now:</p>

<h3>Your Top 3</h3>
<ul class="action-category">
  <li>TBD!</li>
</ul>

<hr>

<h3>Organizations to Follow</h3>
<div class="explore-carousel">
      <button class="prev">
        <div class="fas fa-chevron-circle-left"></div>
        <span class="offscreen">Previous</span>
      </button>
  <ul class="carousel-content">
      {{#each organisations}}
        <li class="hidden"><a href="{{url}}" target="_blank">{{name}}</a></li>
      {{/each}}
  </ul>
  <button class="next">
    <div class="fas fa-chevron-circle-right"></div>
    <span class="offscreen">Next</span>
  </button>
</div>

<hr>

<h3>Events to Attend</h3>
<div class="explore-carousel">
      <button class="prev">
        <div class="fas fa-chevron-circle-left"></div>
        <span class="offscreen">Previous</span>
      </button>
  <ul class="carousel-content">
      {{#each events}}
        <li class="hidden"><a href="{{url}}" target="_blank">{{name}}</a></li>
      {{/each}}
  </ul>
  <button class="next">
    <div class="fas fa-chevron-circle-right"></div>
    <span class="offscreen">Next</span>
  </button>
</div>

<hr>

<h3>Contribute to a Charity</h3>
<div class="explore-carousel">
      <button class="prev">
        <div class="fas fa-chevron-circle-left"></div>
        <span class="offscreen">Previous</span>
      </button>
  <ul class="carousel-content">
      {{#each donate}}
        <li class="hidden"><a href="{{url}}" target="_blank">{{name}}</a></li>
      {{/each}}
  </ul>
  <button class="next">
    <div class="fas fa-chevron-circle-right"></div>
    <span class="offscreen">Next</span>
  </button>
</div>

<hr>

<h3>Support a Petition</h3>
<div class="explore-carousel">
      <button class="prev">
        <div class="fas fa-chevron-circle-left"></div>
        <span class="offscreen">Previous</span>
      </button>
  <ul class="carousel-content">
      {{#each petitions}}
        <li class="hidden"><a href="{{url}}" target="_blank">{{name}}</a></li>
      {{/each}}
  </ul>
  <button class="next">
    <div class="fas fa-chevron-circle-right"></div>
    <span class="offscreen">Next</span>
  </button>
</div>


<hr>

<h3>Follow Prominent Activists</h3>
<div class="explore-carousel">
      <button class="prev">
        <div class="fas fa-chevron-circle-left"></div>
        <span class="offscreen">Previous</span>
      </button>
  <ul class="carousel-content">
      {{#each socials}}
        <li class="hidden"><a href="{{url}}" target="_blank">{{name}}</a></li>
      {{/each}}
  </ul>
  <button class="next">
    <div class="fas fa-chevron-circle-right"></div>
    <span class="offscreen">Next</span>
  </button>
</div>


<hr>
<div class='circle-background-explore'></div>
<p class='button-explore'>Email me my options</p>
<a href="/" class='button-explore'>Return to homepage</a>
