<h2 class='top3-heading'>Here are three ways that you can do to make a difference today:</h2>
<main class="container">
  <section class="top3-item">
    <h3 class='top3-h3'>Donate £ to:</h3>
    <a href="{{donateRandom.url}}" target='blank' class='highlight p-raleway top3-a'>{{donateRandom.name}}</a>
  </section>
  <section class="top3-item">
    <h3 class='top3-h3'>Join:</h3>
    <a href="{{organisationRandom.url}}" target='blank' class='highlight p-raleway top3-a'>
        {{organisationRandom.name}}
    </a>
  </section>
  <section class="top3-item">
    <h3 class='top3-h3'>Follow and retweet:</h3>
    <a href="{{socialRandom.url}}" target='blank' class='highlight p-raleway top3-a'>
        {{socialRandom.name}}
    </a>
  </section>
</main>
<br>

<div class='circle-bg circle-bg__bottom-right'></div>
<a href="/explore" class='button'>Explore<br>more</a>
