<h2 class='top3-heading'>Ready to save the world?</h2>
<h3 class='top3-subheading'>Here are three actions to get you started:</h3> 
<main class="container">
  <section class="top3-item">
    <h3 class='top3-h3'>Donate £ to:</h3>
    <a href="{{donateRandom.url}}" target='blank' class='highlight p-raleway top3-a'>{{donateRandom.name}}</a>
  </section>
  <section class="top3-item">
    <h3 class='top3-h3'>Join:</h3>
    <a href="{{organisationRandom.url}}" target='blank' class='highlight p-raleway top3-a'>
        {{organisationRandom.name}}
    </a>
  </section>
  <section class="top3-item">
    <h3 class='top3-h3'>Follow and retweet:</h3>
    <a href="{{socialRandom.url}}" target='blank' class='highlight p-raleway top3-a'>
        {{socialRandom.name}}
    </a>
  </section>
</main>
<br>

<nav>
  <a href="/explore" class="chevron-right nav-text">
  Explore More...
  <i class="fas fa-search-plus"></i>
  </a>

  <br><br>

  <a href="/snowflakes" class="nav-text">What's a snowflake?
  <i class="fas fa-question-circle"></i></a>
</nav>


