<h2 class='sub-heading'>Here are three ways that you can make a difference today</h2>
<main class="container">
  <section class="item">
    <h3>1. Donate £ to</h3>
    <a href="{{donateRandom.url}}" target='blank' class='link'>{{donateRandom.name}}</a>
  </section>
  <section class="item">
    <h3>2. Join</h3>
    <a href="{{organisationRandom.url}}" target='blank' class='link'>
        {{organisationRandom.name}}
    </a>
  </section>
  <section class="item">
    <h3>3. Follow and retweet:</h3>
    <a href="{{socialRandom.url}}" target='blank' class='link'>
        {{socialRandom.name}}
    </a>
  </section>
</main>
<br>

<div class='circle-bg circle-bg__bottom-right'></div>
<a href="/explore" class='button'>Explore<br>more</a>
